@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

p {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/*Back to Top*/
#top {
  color: #333;
  position: fixed;
  bottom: 5%;
  right: 3%;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  background: #ffd845;
  text-align: center;
  padding: 0.6rem;
  opacity: 0;
  transition: all 0.2s;
}

#top.fadeIn {
  opacity: 1;
}

#top.fadeOut {
  opacity: 0;
}

#top:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/*Showcase*/
.showcase {
  background: #ffd845;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
  overflow: hidden;
}

.showcase .container {
  padding-top: 1rem;
}

.opaque {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Dancing Script", sans-serif;
  font-size: 100rem;
  color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

/*Navbar*/
.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-family: "Kaushan Script", sans-serif;
  font-size: 3rem;
  color: #333;
}

.logo a {
  color: #333;
  transition: all 0.2s;
}

.logo a:hover {
  color: green;
}

.nav li a {
  margin: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  color: #333;
  font-weight: 500;
  display: inline-block;
  position: relative;
}

.nav li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: green;
  width: 0;
  height: 2px;
  transition: all 0.3s;
}

.nav li a::after {
  content: "";
  position: absolute;
  background: green;
  width: 0;
  height: 2px;
  transition: all 0.3s;
  top: 100%;
  right: 0;
}

.nav li a:hover::before {
  width: 100%;
}

.nav li a:hover::after {
  width: 100%;
}

/*Showcase Content*/
.showcase-content {
  position: relative;
  width: 100%;
  margin: 20rem auto;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  z-index: 100;
}

.text {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
}

.text h1 {
  font-size: 5rem;
  color: #333;
}

.text p {
  font-size: 2rem;
  color: #333;
}

.text i {
  font-size: 3rem;
  color: #333;
  margin-top: 5rem;
  transition: all 0.3s;
  animation: down 1s alternate-reverse infinite ease-in-out;
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.text i:hover {
  color: green;
}

.social {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: flex-end;
  align-self: flex-end;
}

.social a {
  color: #333;
  font-size: 3rem;
  padding: 0 2rem;
  display: inline-block;
  transition: all 0.3s;
}

#fb {
  animation: anime 1s alternate-reverse infinite ease-in-out 1s;
}

#tweet {
  animation: anime 1s alternate-reverse infinite ease-in-out 1.2s;
}

#inst {
  animation: anime 1s alternate-reverse infinite ease-in-out 1.4s;
}

@keyframes anime {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}

.social a:hover {
  color: green;
  transform: translateY(-8px);
}

/*About*/
.about {
  padding: 5rem 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container {
  height: 100%;
  display: flex;
}

.about-box.grid {
  gap: 3rem;
}

.about-content {
  padding: 1rem 0;
}

.about-content p {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.about-content h1 {
  font-size: 3rem;
  color: #333;
}

.right {
  transition: all 0.3s;
}

.btn:hover .right {
  transform: translateX(5px);
}

/*Services*/
.services {
  padding: 5rem 0;
  height: 100%;
  background: rgba(214, 214, 214, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .container {
  height: 100%;
  display: flex;
}

.service-box {
  height: 100%;
}

.service-box.grid {
  gap: 4rem;
}

.service-content p {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.service-content h1 {
  font-size: 3rem;
  color: #333;
}

.service-img {
  display: grid;
  grid-template-columns: 15% 85%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.service-img h2 {
  color: #333;
  font-size: 1.8rem;
}

.service-img p {
  font-size: 1.5rem;
  color: #333;
  margin: 1rem 0;
}

/*Projects*/
.projects {
  padding: 5rem 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .container {
  height: 100%;
  display: flex;
}

.project-img {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.pro1,
.pro2,
.pro3,
.pro4 {
  transition: all 0.3s;
}

.pro1:hover,
.pro2:hover,
.pro3:hover,
.pro4:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.project-img img {
  height: 100%;
}

.project-content {
  padding: 1rem 2rem;
  position: relative;
  height: 100%;
}

.project-content p {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.project-content h1 {
  font-size: 3rem;
  color: #333;
}

.project-content img {
  margin-top: 3rem;
  width: 350px;
  position: absolute;
  bottom: 0;
  right: 5%;
}

/*Skills*/
.skills {
  padding: 5rem 0;
  height: 100%;
  background: rgba(214, 214, 214, 0.5);
}

.skills-content {
  justify-self: flex-start;
  align-self: flex-start;
  padding: 1rem 0;
}

.skills-content p {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.skills-content h1 {
  font-size: 3rem;
  color: #333;
}

.skills-graph {
  height: 100%;
  padding: 1rem 0;
}

.graph-box {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
  padding: 0 3rem;
}

.box p {
  font-size: 1.3rem;
  font-weight: 500;
}

.graph-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.html,
.css,
.js {
  text-align: center;
  animation: fill 1s alternate-reverse infinite;
}

.css {
  animation: fill 1s alternate-reverse infinite 0.3s;
}

.js {
  animation: fill 1s alternate-reverse infinite 0.6s;
}

@keyframes fill {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.html p,
.css p,
.js p {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.html img,
.css img,
.js img {
  width: 70px;
}

@keyframes animate {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

/*Contact*/
.contact {
  padding: 5rem 0;
  height: 100%;
}

.contact .container {
  height: 100%;
}

.contact-box {
  height: 100%;
}

.contact-text {
  justify-self: flex-start;
  align-self: center;
}

.contact-text p {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.contact-text h1 {
  font-size: 3rem;
  color: #333;
}

.contact-text img {
  width: 350px;
}

.contact-form h1 {
  font-size: 2.5rem;
  color: #333;
  padding: 1rem 2rem;
}

.contact-form form {
  padding: 1rem 2rem;
}

.form-control {
  margin: 10px 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #333;
}

.contact-form input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #777;
}

.contact-form textarea {
  width: 100%;
  height: 15rem;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: #333;
  resize: none;
}

.contact-form textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #777;
}

footer {
  background: #ffd845;
  overflow: auto;
  text-align: center;
  padding: 1rem 0;
}

footer .container {
  padding: 0 5rem;
}

footer p {
  font-size: 1.1rem;
  font-weight: 500;
}

/*Utilities*/
.container {
  max-width: 1100px;
  margin: auto;
  padding: 5rem;
  overflow: hidden;
}

.btn {
  display: inline-block;
  margin: 3rem 0;
  padding: 1rem 4rem;
  background: transparent;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background: #ffd845;
  color: #333;
}

.btn-primary:hover {
  background: green;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  #top {
    display: none;
  }

  .about,
  .projects,
  .contact,
  .services {
    height: 100%;
  }

  .about-box,
  .service-box,
  .project-box,
  .skills-box,
  .contact-box {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-content img {
    display: none;
  }

  .graph-box {
    padding: 0;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 672px) {
  .navbar {
    display: block;
    text-align: center;
  }

  .showcase-content {
    margin: 10rem auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .text,
  .social {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
  }
}

@media screen and (max-width: 520px) {
  #top {
    display: none;
  }

  .nav li a {
    padding: 0.5rem 0;
  }

  .showcase-content {
    margin: 10rem auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .text,
  .social {
    grid-column: 1;
    grid-row: 1;
  }

  .text h1 {
    font-size: 4rem;
  }

  .showcase-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .social {
    justify-self: center;
  }

  .service-img {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .graph-box {
    padding: 0;
    justify-content: flex-start;
  }

  .project-img {
    height: 100%;
    grid-template-columns: 1fr;
  }

  .pro3,
  .pro4 {
    display: none;
  }
}
